{
  "printWidth": 100,
  "endOfLine": "lf",
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "semi": true,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.css",
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    }
  ]
}
